@model mswebtechAssignment1.Models.BPMeasurement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BPMeasurement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Systolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Systolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diastolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diastolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
